nav {
  background: #a2afb4;
  padding: 5px;
}
nav button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1%;
}

.welcomemsg{
  color: burlywood;
}
.details {
  color: darkolivegreen;
}
.image1 {
  width: 100%;
  height: auto;
}
.products {
  background-color: rgb(235, 234, 225);
}
.producttext {
  color: rgb(161, 142, 118);
}
.inst {
  color: darkblue;
}
.indeximages {
  width : 300px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column {
  float: left;
  width: 31%;
  padding: 5px;
}
.imagename{
  background-color: #4346ce; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 237px;
  
}
.textindividual {
  font-size: 50px;
}
.image2 {
  height: auto;
}